@charset "UTF-8";

div.親 {
 border:2px solid lime;
 width: 600px;
 height: 300px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(0, 250, 50, 0.2);
}

 div.ヘア1 img {
  border: 2px solid lime;
  width: 25%;
}
 div.ヘア2 img {
  border: 2px solid lime;
  width: 25%;
}
 div.ヘア3 img {
  border: 2px solid lime;
  width: 25%;
}
 div.ヘア4 img {
  border: 2px solid lime;
  width: 25%;
}
