@charset "UTF-8";

@media screen and (min-width:10px) and (max-width:500px){
  
div.親1 {
  border: 2px solid lime;
  background-color:rgba(0,250,200,0.2);
  display: flex;
  flex-wrap: wrap;  
  width: 99%;　
}
 
div.ヘア1 {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  box-sizing:border-box;
  flex-basis: 48%;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作
  margin: 10px;
}
div.ヘア2 {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  box-sizing:border-box;
  flex-basis: 48%;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作
  margin: 10px;
}  
div.ヘア3 {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  box-sizing:border-box;
  flex-basis: 48%;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作
  margin: 10px;
}
div.ヘア4 {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  box-sizing:border-box;
  flex-basis: 48%;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作
  margin: 10px;
}
  
}

 @media screen and (min-width:501px) and (max-width:1400px){
 .parent{
  border: 2px solid lime;
  background-color:rgba(0,250,200,0.2);
  display: flex;
  flex-wrap: wrap;   //このように親要素に指定します
  width: 850px;
}
 
.child{
  border: 2px solid aqua;
  background-color:rgba(0,250,200,0.2);
  box-sizing:border-box;
  flex-basis: 400px;   //要素が3つ並ぶと親を超え、flex-wrapが動作します
  padding: 10px;
}
  
}  
  @media screen and (min-width:501px) and (max-width:1400px){  
  .parent{
  border: 2px solid lime;
  background-color:rgba(0,250,200,0.2);
  display: flex;
  flex-wrap: wrap;   //このように親要素に指定します
  width: 1100px;
}
 
.child{
  border: 2px solid aqua;
  background-color:rgba(0,250,200,0.2);
  box-sizing:border-box;
  flex-basis: 500px;   //要素が3つ並ぶと親を超え、flex-wrapが動作します
  padding: 10px;
}
  
}  
