@charset "UTF-8";


.parent{
  border: 2px solid lime;
  display: flex;
  flex-wrap: wrap;   //このように親要素に指定します
  width: 600px;
}
 
.child{
  border: 2px solid aqua;
  box-sizing:border-box;
  border: 5px solid white;
  flex-basis: 200px;  //200pxの要素が3つ並ぶと600pxを超え、flex-wrapが動作します
  padding: 10px;
  background-color: #ff838b;
}
